.App {
  text-align: center;
}

.homePageWrapper{
  margin-top: 7%;
  margin-bottom: 7%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
   
}

.formWrapper{
  margin-top: 2%;
  margin-bottom: 5%;
  background: #06a091;
  padding: 20px;
  border-radius: 50px;
  border: #000000;
  border-width: 5px;
  width: 350px;
  max-width: 90%;
}

.footer{
  position: fixed;
  bottom: 0;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}


.mainLabel{
  margin-bottom: 12px;
  margin-top: 5;
  font-size: 25px;
}

.footer a{
  color: #fff;
}

.homeScreenLogo{
  margin-bottom: 25px;
  
  
  
  align-items: center;
  justify-content: center;
  height: 37vh;
  border-radius: 25px;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background:#011424;
  width: 100px;
  margin-left: auto;
  
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
  
}

.createNewBtn{
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid;
}
.createNewBtn:hover,
footer a:hover{
  color: #ffffff;
  border-color: antiquewhite;
}



.joinBtn:hover{
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#loading-gif{
  margin-top: 5%;
  position: center; 
  height:21%;
  width: 21%;

}

.inputBox{
  width: 90%;
  margin-left: 2.5%;
  padding: 10px;
  border-radius: 7px;
  background: #eee;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.aside{
  background: #099198;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}



.asideInner{
  flex: 1;
  
}

.codePageLogo{
  width: 100%;
height: 100%;
object-fit: contain;
  border-radius: 25px;
}

.codePageLogo:hover{
  width:95%;
  height: 95%;;
}

.mainWrap{
  align-items: left;
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.copyBtn{
  color: #000000;
  

}

.copyBtn:hover,
.leaveBtn:hover{
  background:#000000;
  font-size: 17.5px;
  margin-left: auto;
  margin-right: auto;
  
}

.copyBtn{
  width:100%;
}

.leaveBtn{
  color: #000000;
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  
}

.copyBtn:hover{
  width:80%;
  color: aliceblue;
}

.leaveBtn:hover{
  margin-right: auto;
  margin-right: auto;
  width: 70%;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}

.clientsList{
  margin-left: 3%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:20px
}

.client{
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.username{
  
  color: #000000;
  font-weight: bold;
  margin-top: 9px;
  border: #000000;
  text-shadow: #000000;
  text-emphasis-color: black;
}

.conn{
       height: 7px;
        background: black;
        border: none;
}

.avatar{
  border: #000000;
  border-style: solid;
  border-radius: 10px;
}

.avatar:hover{
  border-radius: 20px;
}









.CodeMirror{
  min-height: 100%;
  font-size: 30px;
  text-align: left;
  height: 100%;
  position: absolute;
  
  
}




.animal:hover{
  zoom: 110%;
  
}


